# ==========================================
# KOLO MUSIC - GITIGNORE
# ==========================================

# Environment variables / secrets
.env
.env.*
!.env.example

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Node
node_modules/